# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
venv/
env/
webl/
weblib/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Django
# =========================
*.log
db.sqlite3
media/
staticfiles/

# =========================
# Django migrations cache
# =========================
**/migrations/__pycache__/

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store

# =========================
# Test / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Temporary files
# =========================
*.swp
*.tmp
